<template>
  <div id="home">
    <div class="jumbotron">
      <h1 class="display-4">Trade Or View Your Portfolio</h1>
      <p class="lead">
        Your may save and load your data
        <br />Click on "End Day" to begin a new day
      </p>
      <hr class="my-4" />
      <h1>Funds : {{ formattedFunds }}</h1>
    </div>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import { Component, Vue } from 'vue-property-decorator'
import { Getter } from 'vuex-class'
import * as types from '@/store/types'

@Component
export default class Home extends Vue {
  @Getter(types.GET_FUNDS)
  funds!: number

  public get formattedFunds (): string {
    return this.funds.toLocaleString('en', {
      style: 'currency',
      currency: 'USD'
    })
  }
}
</script>
