<template>
  <div id="portfolio">
    <div class="row">
      <app-portfolio-item-card v-for="pi in portfolio" :key="pi.stock" :portfolio-item="pi"></app-portfolio-item-card>
      <div v-if="portfolio.length === 0" class="col-12 col-md-auto mx-md-auto">
        <h2 class="text-muted text-center">
          You don't have any stock :/
          <br />Why not buy some ?
        </h2>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import * as types from '@/store/types'
import { Getter } from 'vuex-class'
import { PortfolioItem } from '@/models/portfolio-item.model'
import PortfolioItemCard from '@/components/PortfolioItemCard.vue'

@Component({
  components: {
    appPortfolioItemCard: PortfolioItemCard
  }
})
export default class Portfolio extends Vue {
  @Getter(types.GET_PORTFOLIO)
  portfolio!: PortfolioItem[]
}
</script>

<style scoped lang="scss">
.portfolio-item-card:nth-child(4) {
  margin-top: 1rem !important;
}
</style>
