<template>
  <div id="stocks">
    <div class="row">
      <app-stock-card v-for="stock in stocks" :key="stock.label" :stock="stock"></app-stock-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { Getter } from 'vuex-class'
import * as types from '@/store/types'
import { Stock } from '@/models/stock.model'

import StockCard from '@/components/StockCard.vue'

@Component({
  components: {
    appStockCard: StockCard
  }
})
export default class Stocks extends Vue {
  @Getter(types.GET_STOCKS)
  stocks!: Stock[]
}
</script>

<style scoped lang="scss">
.stock-card:last-child {
  margin-top: 1rem !important;
}
</style>
