<template>
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <router-link class="navbar-brand" to="/">Stock Trader</router-link>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <router-link class="nav-link" active-class="active" to="/portfolio">Portfolio</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" active-class="active" :to="{name: 'stocks'}">Stocks</router-link>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" role="button" @click="endDay" class="nav-link">End Day</a>
            </li>
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                id="save-load"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >Save & Load</a>
              <div class="dropdown-menu" aria-labelledby="save-load">
                <a href="#" @click.prevent="onSavePortfolio" class="dropdown-item">Save</a>
                <a href="#" @click.prevent="onLoadPortfolio" class="dropdown-item">Load</a>
              </div>
            </li>
          </ul>
          <span class="navbar-text px-md-2">
            <strong>Funds {{ formattedFunds }}</strong>
          </span>
        </div>
      </nav>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { Getter, Action } from 'vuex-class'
import * as types from '@/store/types'

@Component
export default class Navbar extends Vue {
  @Getter(types.GET_FUNDS)
  funds!: number

  @Action(types.END_DAY)
  endDay!: () => void

  @Action(types.SAVE_PORTFOLIO)
  savePortfolio!: () => Promise<any>

  @Action(types.QUERY_PORTFOLIO)
  loadPortfolio!: () => Promise<any>

  @Action(types.QUERY_FUNDS)
  loadFunds!: () => Promise<any>

  @Action(types.SAVE_FUNDS)
  saveFunds!: () => Promise<any>

  public get formattedFunds (): string {
    return this.funds.toLocaleString('en', {
      currency: 'USD',
      style: 'currency'
    })
  }

  onSavePortfolio () {
    this.$toasted.show('Saving data...')
    this.savePortfolio()
      .then(() => {
        return this.saveFunds()
      })
      .then(() => {
        this.$toasted.clear()
        this.$toasted.success('Data saved !')
      })
  }

  onLoadPortfolio () {
    this.$toasted.show('Loading data...')

    this.loadPortfolio()
      .then(() => this.loadFunds())
      .then(() => {
        this.$toasted.clear()
        this.$toasted.success('Data loaded !')
      })
  }
}
</script>

<style scoped lang="scss">
</style>
