<template>
  <div class="portfolio-item-card col-12 col-md-4 mt-3 mt-md-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          {{ getStock.label }}
          <small>${{getStock.price}} | {{ portfolioItem.quantity }}</small>
        </h5>

        <div class="row">
          <div class="col-6">
            <input
              type="number"
              name="quantity"
              v-model="quantity"
              class="form-control"
              placeholder="Quantity"
              @focus="showAmountToEarn = true"
              @blur="showAmountToEarn = false"
            />
            <transition mode="out-in" name="fade">
              <small v-if="showAmountToEarn && canSell" class="form-text text-muted">
                You will earn
                <strong>{{ total }}</strong>
              </small>
            </transition>
          </div>
          <div class="col-auto ml-auto">
            <button class="btn btn-danger" :disabled="!canSell" @click="onSellStock()">Sell</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { Getter, Action } from 'vuex-class'
import * as types from '@/store/types'
import { Stock } from '@/models/stock.model'
import { PortfolioItem } from '@/models/portfolio-item.model'

@Component
export default class PortfolioItemCard extends Vue {
  @Prop({
    required: true
  })
  portfolioItem!: PortfolioItem
  quantity: number = 1
  showAmountToEarn: boolean = false

  @Getter(types.GET_PORTFOLIO)
  portfolio!: PortfolioItem[]

  @Getter(types.GET_STOCKS)
  stocks!: Stock[]

  @Action(types.SELL_STOCK)
  sellStock!: (payload: {
    portfolioItem: PortfolioItem
    quantity: number
  }) => void

  public get canSell (): boolean {
    return this.portfolioItem.quantity >= +this.quantity
  }

  public get getStock (): Stock {
    return this.stocks.find(
      (s: Stock) => this.portfolioItem.stock === s.label
    ) as Stock
  }

  public get total (): string {
    return (this.getStock.price * +this.quantity).toLocaleString('en', {
      style: 'currency',
      currency: 'USD'
    })
  }

  onSellStock () {
    this.sellStock({
      portfolioItem: this.portfolioItem,
      quantity: +this.quantity
    })
    this.quantity = 1
  }
}
</script>

<style scoped lang="scss">
$translateXAmount: -10%;

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease-out;
}

.fade-enter {
  transform: translateX($translateXAmount);
  opacity: 0;
}

.fade-leave-active {
  transform: translateX($translateXAmount);
  opacity: 0;
}
</style>
