<template>
  <div class="stock-card col-12 col-md-4 mt-3 mt-md-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          {{ stock.label }}
          <small>(${{stock.price}})</small>
        </h5>

        <div class="row">
          <div class="col-6">
            <input
              type="number"
              name="quantity"
              v-model="quantity"
              class="form-control"
              placeholder="Quantity"
              @focus="showPriceToPay = true"
              @blur="showPriceToPay = false"
            />
            <transition mode="out-in" name="fade">
              <small v-if="showPriceToPay && canBuy" class="form-text text-muted">
                You will pay
                <strong>{{ totalPrice }}</strong>
              </small>
            </transition>
          </div>
          <div class="col-auto ml-auto">
            <button class="btn btn-success" :disabled="!canBuy" @click="onBuyStock(stock)">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { Getter, Action } from 'vuex-class'
import * as types from '@/store/types'
import { Stock } from '@/models/stock.model'
import { PortfolioItem } from '@/models/portfolio-item.model'

@Component
export default class StockCard extends Vue {
  @Prop({
    required: true
  })
  stock!: Stock
  quantity: number = 1
  showPriceToPay: boolean = false

  @Getter(types.GET_FUNDS)
  funds!: number

  @Action(types.BUY_STOCK)
  buyStock!: (portfolioItem: PortfolioItem) => void

  public get canBuy (): boolean {
    return this.funds >= this.stock.price * +this.quantity
  }

  public get totalPrice (): string {
    return (this.stock.price * +this.quantity).toLocaleString('en', {
      style: 'currency',
      currency: 'USD'
    })
  }

  onBuyStock () {
    this.buyStock({ stock: this.stock.label, quantity: +this.quantity })
    this.quantity = 1
  }
}
</script>

<style scoped lang="scss">
$translateXAmount: -10%;

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease-out;
}

.fade-enter {
  transform: translateX($translateXAmount);
  opacity: 0;
}

.fade-leave-active {
  transform: translateX($translateXAmount);
  opacity: 0;
}
</style>
