<template>
  <div id="app">
    <div class="container mt-5">
      <app-navbar class="mb-4"></app-navbar>

      <transition mode="out-in" name="slide">
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import Navbar from './components/Navbar.vue'

@Component({
  components: {
    appNavbar: Navbar
  }
})
export default class App extends Vue {}
</script>

<style lang="scss">
$translateYAmount: -5%;

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s;
}

.slide-enter {
  transform: translateY($translateYAmount);
  opacity: 0;
}
.slide-enter-active {
  opacity: 1;
}

.slide-leave-active {
  transform: translateY($translateYAmount);
  opacity: 0;
}
</style>
